@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,500;0,600;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/images/bg-header-desktop.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
}
header img{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
}

.headline{
margin-left: 400px;
margin-right: 400px;
margin-top: 50px;
width: 700px;
align-items: center;
text-align: center;

}
.headline h1{
    margin-bottom: 10px;
    font-family: "Bai Jamjuree",sans-serif;
    font-size: 40px;
    color: rgb(83, 83, 83);
    

}
.headline p{
    margin-bottom: 30px;
    font-family: "Bai Jamjuree",sans-serif;
    font-size: 15px;
    color:rgb(192, 190, 190);
    justify-content: center;
}
.headline button{
    width: 200px;
    margin-bottom:100px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right:10px;
    font-family: "Bai Jamjuree",sans-serif;
    font-size: 15px;
    cursor: pointer;
    
}



  

.mac{
    background-color: hsl(233, 100%, 69%);
    border-style: none;  
    height: 50px;  
    border-radius: 50px;
    color: #fff;
}
.mac:hover{
    background-color: hsl(249, 86%, 53%);
}

.ios{
    background-color: hsl(171, 66%, 44%);
    border-style: none; 
    height: 50px;  
    border-radius:50px;
    color: #fff;
}
 .ios:hover{
      background-color: hsl(180, 78%, 51%);
 }
 
section{
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
    width: 700px;
    align-items: center;
    text-align: center;
}
.text1{
    font-family: "Bai Jamjuree",sans-serif;
    text-align: center;
    margin-bottom: 50px;

}
.text1 h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(83, 83, 83);
}
.text1 p{
    font-size: 20px;
    color: rgb(192, 190, 190);
    
}
.comp{
display: inline-block; 
margin-left: -10px;   
}
.container-mac{
    width: 300px;
    margin-top: 50px;
    float:right;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Bai Jamjuree",sans-serif;
    margin-right: 350px;
    
    gap: 90px;
}
.container-mac h4{
    
    width: 300px;
    font-size: 20px;
    color:rgb(85, 84, 84);
}
.container-mac p{
    width: 300px;
    font-size: 15px;
    color:rgb(173, 173, 173) ;
}
.sec2{
    display: block;
    font-family: "Bai Jamjuree",sans-serif;
    margin-top: 100px;    
    margin-left: 400px;
    margin-right: 400px;
    width: 700px;


}
.sec2 h2{
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(83, 83, 83);
    text-align: center;
}
.sec2 p{
    font-size: 20px;
    color: rgb(192, 190, 190);
    margin-bottom: 100px;
    width: 700px;
    text-align: justify;

}
.devices {
margin-left: 300px;
}
.last{
    display: block;
    font-family: "Bai Jamjuree",sans-serif;
    margin-top: 100px;    
    margin-left: 400px;
    margin-right: 400px;
    width: 700px;
}
.last h2{
    font-size: 40px;
    margin-bottom: 10px;
    color: rgb(83, 83, 83);
    text-align: center;
}
.last p{
    font-size: 20px;
    color: rgb(192, 190, 190);
    margin-bottom: 100px;
    text-align: center;
    margin-top: 10px;
}
.rows{
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-family: "Bai Jamjuree",sans-serif;
    margin-bottom: 150px;
}
.rows h5{
    font-size: 25px;
    margin-top:10px;
    margin-bottom:10px;
    color:rgb(83, 83, 83) ;
}
.rows p{
    font-size: 15px;
    line-height: 30px;
    color: rgb(192, 190, 190);
    width: 300px;
}

.pics{
  display: flex;
  width: 700px;
  box-sizing: border-box;
  margin-bottom: 200px;

}
.columns {
    width: 200px;
    padding-left: 25px;
    margin-left: 100px;
    height: 50px;
    
    
}
.sub-footer{
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    width: 700px;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    
    }
    .sub-footer h1{
        margin-bottom: 10px;
        font-family: "Bai Jamjuree",sans-serif;
        font-size: 40px;
        color: rgb(83, 83, 83);
        
    
    }
    .sub-footer p{
        margin-bottom: 30px;
        font-family: "Bai Jamjuree",sans-serif;
        font-size: 15px;
        color:rgb(192, 190, 190);
        justify-content: center;
    }
    .sub-footer button{
        width: 200px;
        margin-bottom:100px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right:10px;
        font-family: "Bai Jamjuree",sans-serif;
        font-size: 15px;
        cursor: pointer;
        
    } 

    .about img{
        margin-left: 700px;
        margin-top: 20px;
        height: 50px;
        width: 50px;
        
     }
     
    .about{
        background-color: rgb(247, 241, 241);
        font-family: "Bai Jamjuree",sans-serif;
        font-size: 15px;
    }
    
   table{
        margin-left: 530px;
        width: 400px;
       color: rgb(83, 83, 83);
    }
    table th{
        cursor: pointer;
        
    }
    table th a{
        text-decoration: none;
 
    }
    
    table th:hover{
        background-color: rgba(9, 73, 75, 0.39);
        border-radius: 10px;
        color: honeydew;}
        
    footer{
        background-color: rgb(247, 241, 241);
        font-family: "Bai Jamjuree",sans-serif;
        font-size: 15px;   
    }
    footer a{
        text-decoration: none;
    }
    a:visited { text-decoration: none; color:rgb(83, 83, 83);}
    
    
    

    